In [1]:
#must run this block before start coding
import numpy as np
import pandas as pd
import csv
import requests
import sqlite3
import sqlalchemy as sqla

# Common Options

In [55]:
#when we're doing machine learning and data science working, our data is placed at any placed (either on your system or at the
#website(database, any file like csv, excel etc)), so we need to store it on our system.
#we store data to perform some task on our data like generating graphs
#python list and dictionary are also use in this process but the performance of python list and dictionary is little slow
#while working with big data, that's why we use numpy's.
#as well as numpy's arrays has some different functionalities which python list and dictionary doesn't have
#pandas need homogenous data(all data are like same in functionalities)
#pandas instantly work on both numerical values as well as string values

In [2]:
#Topic reading and writing data in text format
#parsing function in pandas
#read_table = read tabular data from the text files
#read_csv = load delimited data from a file, url, file like object; uses comma as default delimited
#we can use colon, semi colon different delimited options in csv files
#read_excel = read tabular data from the excel, XLS AND XLSX
#read_html = read all the tables found in the html documents
#more methods for file reading and writing but mostly we use these methods
#data are different with comma wise operation
#in csv, we seperate data by comma and in tabular, we seperate data by tag

In [3]:
# Indexing:
    #Can treat one or more columns as the returned DataFrame, and whether to get column names from the file, the user,
    #r not at all.
    
# type inference and data conversion:
    #This includes the user-defined value conversions and custom list of missing value markers.
    
# Datetime parsing:
    #Includes combining capability, including combining date and time information spread over multiple columns into a single
    #column in the result.
    
# Iterating:
    #Support for iterating over chunks of very large files.
    
# Unclean data issues:
    #Skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

# Creating Sample CSV File & Loading Data from CSV File

In [2]:
#big data can be process into small chunks
sample_df = pd.read_csv("examples/sample.csv")  #sample data read from the folder
print(sample_df)   #if csv file has no index value than this method will take index starting from 0,1,.....n

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [5]:
#we can change the default attributes of the file by our own words, like changing column name
sample_df = pd.read_csv("examples/sample.csv", skiprows=1,   #skiprows will delete the first column
                        names = ["ID", "Name", "Chemistry", "English", "Physics", "Mathematics"])
print(sample_df)

    ID         Name  Chemistry  English  Physics  Mathematics
0  A01     arif ali         20       30       40           50
1  A02  kamran khan         30       40       50           60
2  A03   imran ali          40       50       60           70
3  A04  kashif khan         50       60       70           80

In [6]:
sample_df = pd.read_csv("examples/sample.csv", header=None)
print(sample_df)  #header=None, remove the name row and point it numeric value, attributes row will become data
#use when there is no lebal of columns available for any csv file

           0            1           2         3         4      5
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [7]:
#data science book author example csv file
sample_df = pd.read_csv("examples/ex1.csv")
sample_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Hierarchical Indexing

In [9]:
sample_df = pd.read_csv("examples/sample2.csv")
sample_df   #first row will always be the label for each columns

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [11]:
#you can use any label of data frame for index like,
sample_df = pd.read_csv("examples/sample2.csv", index_col=['key1'])
sample_df

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [10]:
#you can use any label of data frame for index like,
sample_df = pd.read_csv("examples/sample2.csv", index_col=['key1', 'key2'])
sample_df
#use of other delimiter is also possible
#in some cases, a table might not have a fixed delimiter, using white space or some other pattern to seperate it

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

# Handling Missing Values

In [ ]:
#Handling missing values is an important and frequently naunced part of the file parsing process. Missing data is usually
#either not present (empty string) or marked by some sentinel values. By default, pandas uses a set of commonly occuring
#sentinels, such as NA or NULL

In [12]:
#example where data is not available for any particular position
sample_df = pd.read_csv("examples/sample3.csv")
sample_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [13]:
#no change occur as null value can't affect on not available values
sample_df = pd.read_csv("examples/sample3.csv", na_values=['NULL'])
sample_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [14]:
#If you wanna call any default value to undefine value than,
# dictionary = {column name : [source values, target value]}
NaN_dic = {'message' : ['foo', 'NA']}
sample_df = pd.read_csv("examples/sample3.csv", na_values=NaN_dic)
sample_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

# Reading and Text Files in Pieces

In [30]:
#we select some rows from big data, extracting selected rows from large datasets
#nrows is number of rows
pd.read_csv("datasets/train.csv", nrows=200)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [54]:
#to read file is pieces, specify a chunksize as number of rows
train_df = pd.read_csv("datasets/train.csv", chunksize=200)
print(type(train_df), print(train_df))  #its datatype is object, that's why we use loop to generate its output

<pandas.io.parsers.TextFileReader object at 0x00000285A4DA5EF0>
<class 'pandas.io.parsers.TextFileReader'> None

In [55]:
chunk_list = []
for chunk_value in train_df:
    #Each chunk will work as dataframe
    print(type(chunk_value), len(chunk_value))
    print(chunk_value)
    print("----------------------------------------------------------------------------------")
    
    print(chunk_value.head())
    chunk_list.append(chunk_value)

<class 'pandas.core.frame.DataFrame'> 200
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0              842     0          2.2         0   1       0           7
1             1021     1          0.5         1   0       1          53
2              563     1          0.5         1   2       1          41
3              615     1          2.5         0   0       0          10
4             1821     1          1.2         0  13       1          44
..             ...   ...          ...       ...  ..     ...         ...
195           1526     0          2.1         0   1       1          23
196           1989     0          2.5         1   0       1          41
197           1308     0          1.9         0   0       1          61
198            609     0          0.5         0   3       0          26
199           1905     0          0.6         1   9       1          36

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0      0.6        188        2  ...         20       756  2549     9     7
1      0.7        136        3  ...        905      1988  2631    17     3
2      0.9        145        5  ...       1263      1716  2603    11     2
3      0.8        131        6  ...       1216      1786  2769    16     8
4      0.6        141        2  ...       1208      1212  1411     8     2
..     ...        ...      ...  ...        ...       ...   ...   ...   ...
195    0.2        117        7  ...        718       751  2227    18    10
196    0.8         94        3  ...       1100      1497  1665    17     9
197    0.7        106        3  ...         59      1215  3355    15     2
198    0.3         93        4  ...        938      1948  1866    11    10
199    0.4        119        3  ...        825      1542  1287    13     4

     talk_time  three_g  touch_screen  wifi  price_range
0           19        0             0     1            1
1            7        1             1     0            2
2            9        1             1     0            2
3           11        1             0     0            2
4           15        1             1     0            1
..         ...      ...           ...   ...          ...
195          3        1             1     0            2
196         12        1             1     1            2
197          4        1             0     1            3
198         14        1             1     1            1
199         16        1             0     0            1

[200 rows x 21 columns]
----------------------------------------------------------------------------------
   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
200           1703     1          0.5         0   0       1          22
201           1445     1          2.4         1   7       1          20
202           1087     0          1.3         0   0       1          16
203            671     0          0.9         1  10       0          30
204           1472     1          2.3         0   6       0          61
..             ...   ...          ...       ...  ..     ...         ...
395           1896     0          0.5         1   8       1           7
396            788     0          2.5         1   4       1          57
397            880     1          1.7         1   0       0          33
398           1323     1          2.5         1  10       1          28
399           1868     0          2.0         1   0       1          42

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
200    0.6        192        1  ...        286      1235  1046     5     4
201    0.4        173        7  ...       1273      1345  1441     7     4
202    0.3        166        3  ...        295       589   690    14     6
203    0.7        105        7  ...        852      1182  2504     6     4
204    0.1        168        6  ...        710      1052  2677    19    15
..     ...        ...      ...  ...        ...       ...   ...   ...   ...
395    0.4        141        2  ...        447       794  3684     9     7
396    0.9         91        8  ...         42      1161  3969    12     8
397    0.7        173        2  ...         30      1350  1414    12     1
398    0.2        131        4  ...        162       619  1892    10     0
399    0.2        169        1  ...        347       660  3131     8     3

     talk_time  three_g  touch_screen  wifi  price_range
200         13        1             0     1            0
201         13        1             1     1            1
202          6        1             0     1            0
203         15        1             0     0            2
204          8        1             0     0            2
..         ...      ...           ...   ...          ...
395         18        1             0     0            3
396          6        1             1     1            3
397          7        1             1     0            0
398         15        1             1     1            1
399          7        1             1     1            3

[200 rows x 21 columns]
----------------------------------------------------------------------------------
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
200           1703     1          0.5         0   0       1          22
201           1445     1          2.4         1   7       1          20
202           1087     0          1.3         0   0       1          16
203            671     0          0.9         1  10       0          30
204           1472     1          2.3         0   6       0          61

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
200    0.6        192        1  ...        286      1235  1046     5     4
201    0.4        173        7  ...       1273      1345  1441     7     4
202    0.3        166        3  ...        295       589   690    14     6
203    0.7        105        7  ...        852      1182  2504     6     4
204    0.1        168        6  ...        710      1052  2677    19    15

     talk_time  three_g  touch_screen  wifi  price_range
200         13        1             0     1            0
201         13        1             1     1            1
202          6        1             0     1            0
203         15        1             0     0            2
204          8        1             0     0            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
400           1266     0          1.9         1   0       1           7
401           1042     0          2.7         1  16       1          50
402           1479     0          0.5         0   8       0          19
403           1476     1          1.2         1   0       1          55
404           1552     1          2.2         0   6       1          13
..             ...   ...          ...       ...  ..     ...         ...
595            652     0          0.5         1   1       0          58
596           1175     0          0.6         0  10       0          25
597            561     1          1.0         0   0       0          11
598           1137     0          2.2         0   6       1           3
599           1835     1          2.3         0   4       1          11

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
400    0.2        184        3  ...        346      1468  2532    10     5
401    0.8         93        7  ...        727      1705  3215    18     0
402    0.6        156        3  ...        180      1476  3323    13    12
403    0.1        171        4  ...       1641      1666  1529    13     8
404    0.2        123        6  ...        269      1026  2403     9     2
..     ...        ...      ...  ...        ...       ...   ...   ...   ...
595    0.6        142        3  ...        464       781   565    18    12
596    0.1        145        2  ...        137      1501  3153     9     4
597    0.1        163        8  ...        492      1176  3421    16     2
598    0.9        173        5  ...       1250      1285   316    15    14
599    0.1        193        7  ...        385       583   448    18    17

     talk_time  three_g  touch_screen  wifi  price_range
400          4        1             1     1            2
401         20        1             1     1            3
402          6        1             0     1            3
403          3        1             0     1            2
404          9        1             1     1            2
..         ...      ...           ...   ...          ...
595          9        0             0     1            0
596         12        1             0     0            2
597          5        1             1     1            2
598         17        1             0     0            0
599         14        1             0     0            0

[200 rows x 21 columns]
----------------------------------------------------------------------------------
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
400           1266     0          1.9         1   0       1           7
401           1042     0          2.7         1  16       1          50
402           1479     0          0.5         0   8       0          19
403           1476     1          1.2         1   0       1          55
404           1552     1          2.2         0   6       1          13

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
400    0.2        184        3  ...        346      1468  2532    10     5
401    0.8         93        7  ...        727      1705  3215    18     0
402    0.6        156        3  ...        180      1476  3323    13    12
403    0.1        171        4  ...       1641      1666  1529    13     8
404    0.2        123        6  ...        269      1026  2403     9     2

     talk_time  three_g  touch_screen  wifi  price_range
400          4        1             1     1            2
401         20        1             1     1            3
402          6        1             0     1            3
403          3        1             0     1            2
404          9        1             1     1            2

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
600           1170     0          2.9         1   2       0          40
601           1595     1          0.8         1   0       1          44
602           1719     1          2.0         0   0       0          12
603           1770     0          2.3         1   0       0           7
604           1312     0          0.5         1   0       1          28
..             ...   ...          ...       ...  ..     ...         ...
795           1442     0          2.2         0   0       1          56
796           1204     1          2.6         0   0       0          10
797           1320     0          2.1         1   0       1          41
798           1800     1          0.7         0   2       1           8
799           1567     0          2.1         1   3       0          22

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
600    0.4        169        6  ...        427       684  2366    16     8
601    0.7         85        4  ...       1024      1838  3881    14    10
602    0.3        122        8  ...        240       904   462     6     3
603    0.8        128        7  ...        886      1552  1480     6     1
604    0.8        163        2  ...       1233      1854  1087    17    16
..     ...        ...      ...  ...        ...       ...   ...   ...   ...
795    0.7        145        5  ...       1626      1668  1513    11     8
796    0.3        199        7  ...        480      1482  1724    11     2
797    0.6        144        7  ...        123      1229   542    11     1
798    0.4        100        7  ...        400       823  3481    10     8
799    0.8        153        3  ...        190      1326  3991    15     2

     talk_time  three_g  touch_screen  wifi  price_range
600          2        1             1     1            1
601          9        1             0     1            3
602          5        0             0     0            0
603         17        1             0     0            1
604         14        1             0     0            1
..         ...      ...           ...   ...          ...
795          7        1             1     0            2
796         19        1             0     0            1
797         14        1             1     0            0
798          8        1             0     1            3
799         10        1             0     0            3

[200 rows x 21 columns]
----------------------------------------------------------------------------------
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
600           1170     0          2.9         1   2       0          40
601           1595     1          0.8         1   0       1          44
602           1719     1          2.0         0   0       0          12
603           1770     0          2.3         1   0       0           7
604           1312     0          0.5         1   0       1          28

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
600    0.4        169        6  ...        427       684  2366    16     8
601    0.7         85        4  ...       1024      1838  3881    14    10
602    0.3        122        8  ...        240       904   462     6     3
603    0.8        128        7  ...        886      1552  1480     6     1
604    0.8        163        2  ...       1233      1854  1087    17    16

     talk_time  three_g  touch_screen  wifi  price_range
600          2        1             1     1            1
601          9        1             0     1            3
602          5        0             0     0            0
603         17        1             0     0            1
604         14        1             0     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
800           1439     0          0.9         0  12       1          20
801           1422     0          1.0         0  15       0           3
802           1591     1          2.2         1   4       1          52
803            880     0          1.7         0   2       0           6
804           1929     1          0.5         1   0       1          19
..             ...   ...          ...       ...  ..     ...         ...
995           1456     0          1.6         1   5       0          49
996            774     0          0.5         1   2       1          10
997           1068     0          0.5         1   0       1          19
998           1373     1          1.9         1   1       1          29
999           1777     1          3.0         0   3       0          20

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
800    0.8        147        1  ...        626       932  1790    19    12
801    0.1        112        1  ...          1       926   509    19     1
802    1.0        161        3  ...        548      1641   282    10     9
803    0.6        198        4  ...        632       660  3006     6     4
804    1.0        163        6  ...        349      1051  1913    12     7
..     ...        ...      ...  ...        ...       ...   ...   ...   ...
995    0.2        193        3  ...       1285      1427  3624    12    11
996    0.5        188        2  ...       1480      1731  2944     8     6
997    0.9        197        8  ...        322       875  1209    19    12
998    0.9        141        6  ...       1220      1348  2752    15     2
999    0.6        188        6  ...        511       616  3868     5     1

     talk_time  three_g  touch_screen  wifi  price_range
800         15        1             0     1            1
801          3        1             1     1            0
802         14        1             1     1            0
803          3        1             0     0            2
804          6        1             1     0            1
..         ...      ...           ...   ...          ...
995         16        1             1     0            3
996          2        1             1     1            2
997         12        1             1     0            0
998          7        1             1     1            3
999          7        0             1     1            3

[200 rows x 21 columns]
----------------------------------------------------------------------------------
     battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
800           1439     0          0.9         0  12       1          20
801           1422     0          1.0         0  15       0           3
802           1591     1          2.2         1   4       1          52
803            880     0          1.7         0   2       0           6
804           1929     1          0.5         1   0       1          19

     m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
800    0.8        147        1  ...        626       932  1790    19    12
801    0.1        112        1  ...          1       926   509    19     1
802    1.0        161        3  ...        548      1641   282    10     9
803    0.6        198        4  ...        632       660  3006     6     4
804    1.0        163        6  ...        349      1051  1913    12     7

     talk_time  three_g  touch_screen  wifi  price_range
800         15        1             0     1            1
801          3        1             1     1            0
802         14        1             1     1            0
803          3        1             0     0            2
804          6        1             1     0            1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1000            594     0          0.8         0   2       1          28
1001           1524     0          2.6         1   5       0          57
1002            511     1          0.6         1  12       0          50
1003           1402     1          0.6         1   3       0          46
1004            965     1          0.5         0  15       0          53
...             ...   ...          ...       ...  ..     ...         ...
1195           1009     1          2.8         1   7       1           2
1196           1735     0          1.8         1  16       0          34

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1400           1325     1          0.5         0   0       1          13
1401            950     0          0.5         0   6       1          55
1402            948     0          1.5         1   6       0          18
1403           1328     1          0.5         0   5       1          27
1404           1447     0          0.5         0   3       0          40
...             ...   ...          ...       ...  ..     ...         ...
1595           1206     0          3.0         1  10       1          30
1596            832     1          0.5         1   1       1           5
1597            848     1          2.8         0   1       0           8
1598           1851     0          2.9         0   0       0          53
1599           1166     1          0.5         0   7       0          59

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1400    1.0        133        4  ...       1353      1915  3707    19     3
1401    0.1        124        8  ...         86      1681  1305     6     5
1402    0.3        119        4  ...        340      1728  2926    17    13
1403    0.3        144        3  ...        602      1156  2674     7     2
1404    0.7        184        2  ...        963      1062   471     8     4
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1595    0.6        127        3  ...       1581      1713  1825     7     1
1596    0.1        165        5  ...          9      1944  3946    12     5
1597    0.1        103        7  ...          7      1294   436    10     6
1598    0.7        112        6  ...        174      1175  2678     6     0
1599    0.5         80        1  ...        437       638  3887     8     6

      talk_time  three_g  touch_screen  wifi  price_range
1400         18        1             1     0            3
1401          4        1             0     1            0
1402          9        1             1     1            2
1403          5        1             0     1            2
1404         20        0             0     1            0
...         ...      ...           ...   ...          ...
1595          4        1             0     1            2
1596         14        1             1     1            3
1597         15        1             1     1            0
1598          8        1             0     0            2
1599          7        1             0     1            3

[200 rows x 21 columns]
----------------------------------------------------------------------------------
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1400           1325     1          0.5         0   0       1          13
1401            950     0          0.5         0   6       1          55
1402            948     0          1.5         1   6       0          18
1403           1328     1          0.5         0   5       1          27
1404           1447     0          0.5         0   3       0          40

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1400    1.0        133        4  ...       1353      1915  3707    19     3
1401    0.1        124        8  ...         86      1681  1305     6     5
1402    0.3        119        4  ...        340      1728  2926    17    13
1403    0.3        144        3  ...        602      1156  2674     7     2
1404    0.7        184        2  ...        963      1062   471     8     4

      talk_time  three_g  touch_screen  wifi  price_range
1400         18        1             1     0            3
1401          4        1             0     1            0
1402          9        1             1     1            2
1403          5        1             0     1            2
1404         20        0             0     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1600           1776     1          2.1         1  10       0          35
1601           1254     1          1.2         0   2       1          27
1602           1494     0          1.6         1   4       1          24
1603            984     1          2.2         1   0       1          39
1604           1179     1          0.8         0   1       0           5
...             ...   ...          ...       ...  ..     ...         ...
1795            527     0          0.7         1   4       0          53
1796            793     1          2.8         1   1       1          64
1797            873     1          0.5         1   6       0           8
1798            722     0          1.1         0  12       0          12
1799           1250     1          1.5         0  14       1          20

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1600    0.1        172        4  ...        278       623  1813    16    13
1601    0.2        134        2  ...       1288      1372   817    14     1
1602    0.2        101        1  ...        979      1190  3614    15    12
1603    0.5        119        8  ...         56      1931  2013    11     7
1604    0.9        154        5  ...        913      1429   543     8     7
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1795    0.9        128        1  ...         67      1924  1302    13     7
1796    0.4        179        4  ...        818      1006  2296    12     0
1797    0.6        152        7  ...       1257      1411   575    15     8
1798    1.0         93        6  ...        138      1371  2359    13     6
1799    0.4        167        5  ...         11      1020  3314     6     5

      talk_time  three_g  touch_screen  wifi  price_range
1600         20        1             1     1            1
1601         16        1             1     1            0
1602          9        1             0     0            3
1603         16        1             1     0            1
1604         18        0             0     1            0
...         ...      ...           ...   ...          ...
1795         13        0             0     0            0
1796          5        1             1     0            1
1797          7        1             0     1            0
1798          3        0             0     0            1
1799          6        1             1     1            2

[200 rows x 21 columns]
----------------------------------------------------------------------------------
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1600           1776     1          2.1         1  10       0          35
1601           1254     1          1.2         0   2       1          27
1602           1494     0          1.6         1   4       1          24
1603            984     1          2.2         1   0       1          39
1604           1179     1          0.8         0   1       0           5

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1600    0.1        172        4  ...        278       623  1813    16    13
1601    0.2        134        2  ...       1288      1372   817    14     1
1602    0.2        101        1  ...        979      1190  3614    15    12
1603    0.5        119        8  ...         56      1931  2013    11     7
1604    0.9        154        5  ...        913      1429   543     8     7

      talk_time  three_g  touch_screen  wifi  price_range
1600         20        1             1     1            1
1601         16        1             1     1            0
1602          9        1             0     0            3
1603         16        1             1     0            1
1604         18        0             0     1            0

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'> 200
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1800           1358     0          1.7         0   0       0          60
1801           1035     1          1.9         1   8       0          11
1802           1289     0          0.8         1   3       1          16
1803           1445     0          2.2         1   2       0          37
1804           1702     1          2.3         1  12       1          47
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1800    0.6        147        3  ...        889      1635   440    14    10
1801    1.0        173        6  ...        831      1709  2002    17     8
1802    0.9        161        6  ...        713      1854  3167    14     8
1803    0.4         82        2  ...        527      1393  3480    17    16
1804    0.6        107        2  ...       1284      1643   595    10     0
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
1800         13        1             0     0            0
1801          5        1             1     0            1
1802         20        1             1     0            3
1803         17        1             1     1            3
1804         19        1             0     1            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[200 rows x 21 columns]
----------------------------------------------------------------------------------
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1800           1358     0          1.7         0   0       0          60
1801           1035     1          1.9         1   8       0          11
1802           1289     0          0.8         1   3       1          16
1803           1445     0          2.2         1   2       0          37
1804           1702     1          2.3         1  12       1          47

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1800    0.6        147        3  ...        889      1635   440    14    10
1801    1.0        173        6  ...        831      1709  2002    17     8
1802    0.9        161        6  ...        713      1854  3167    14     8
1803    0.4         82        2  ...        527      1393  3480    17    16
1804    0.6        107        2  ...       1284      1643   595    10     0

      talk_time  three_g  touch_screen  wifi  price_range
1800         13        1             0     0            0
1801          5        1             1     0            1
1802         20        1             1     0            3
1803         17        1             1     1            3
1804         19        1             0     1            1

[5 rows x 21 columns]

In [60]:
chunk_zero = chunk_list[0]
chunk_zero

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1526,0,2.1,0,1,1,23,0.2,117,7,...,718,751,2227,18,10,3,1,1,0,2
196,1989,0,2.5,1,0,1,41,0.8,94,3,...,1100,1497,1665,17,9,12,1,1,1,2
197,1308,0,1.9,0,0,1,61,0.7,106,3,...,59,1215,3355,15,2,4,1,0,1,3
198,609,0,0.5,0,3,0,26,0.3,93,4,...,938,1948,1866,11,10,14,1,1,1,1
199,1905,0,0.6,1,9,1,36,0.4,119,3,...,825,1542,1287,13,4,16,1,0,0,1

In [61]:
chunk_zero.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

# Reading from Multispace

In [2]:
#data save in array format in this txt file
list(open("examples/ex3.txt"))   #it is tab delimiter file

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [3]:
#use spaces (one or more) as a delimiter
txt_result = pd.read_table("examples/ex3.txt", sep="\s+")
txt_result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [4]:
sample_df = pd.read_csv("examples/ex4.csv")
sample_df
# >> #hey! is row number zero that's why, it's also skip

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [5]:
#we can skip some row as to access only those data which is required
sample_df = pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])
sample_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Writing Data to Text formate

In [6]:
#to_csv is available for both series and dataframe
sample_df = pd.read_csv("examples/ex5.csv")
sample_df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [7]:
#to_csv method, save one csv data to another
sample_df.to_csv("examples/out.csv")   #to_csv will create new csv file in your system

In [8]:
#generating date with yearly and monthly bases
date = pd.date_range('1/1/2020', periods=7)
date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
print("Date(Index) Values")   #hard coded values, to define columns name only
series_of_data = pd.Series(np.arange(7), index=date)
series_of_data

Date(Index) Values

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int32

In [29]:
#header=False, this statement will work for csv of series not to match with csv of dataframes
#header is basically a delimiter of to_csv method
series_of_data.to_csv("examples/tseries.csv", header=False)

# Working with Delimited formats

In [32]:
f = open("examples/ex7.csv")
reader = csv.reader(f)
for each_line in reader:
    print(each_line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [37]:
#JSON data: JavaScript Object Notation
my_data = """{
    "Name" : "Muhammad Waleed Khan",
    "Father Name" : "Nadir Shah Khan",
    "University" : "Iqra University",
    "Degree" : "BS(Cs)",
    "Semester" : "5th",
    "Siblings" : [{
        "Name" : "Muhammad Huzaifa Khan",
        "Father Name" : "Nadir Shah Khan",
        "University" : "Iqra University",
        "Degree" : "BS(Cs)",
        "Semester" : "8th"
    },
    {
        "Name" : "Khan Abu Bakar",
        "Father Name" : "Nadir Shah Khan",
        "College" : "National College",
        "Degree" : "FSc",
        "Year" : "2nd Year"
    }]
}
"""  #Save the value as it is in dictionary format

print(my_data)

{
    "Name" : "Muhammad Waleed Khan",
    "Father Name" : "Nadir Shah Khan",
    "University" : "Iqra University",
    "Degree" : "BS(Cs)",
    "Semester" : "5th",
    "Siblings" : [{
        "Name" : "Muhammad Huzaifa Khan",
        "Father Name" : "Nadir Shah Khan",
        "University" : "Iqra University",
        "Degree" : "BS(Cs)",
        "Semester" : "8th"
    },
    {
        "Name" : "Khan Abu Bakar",
        "Father Name" : "Nadir Shah Khan",
        "College" : "National College",
        "Degree" : "FSc",
        "Year" : "2nd Year"
    }]
}

In [38]:
json_data = pd.read_json("examples/example.json")
json_data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Web Data Loading

# XML & HTML: Web Data Loading into DataFrame

In [46]:
#web data is already very organized as compare to other data
#html data is used for human reading, it is a tabular data but little miss structure by nature
#web data contain headings, content and tables So, data complexity is little higher
tables = pd.read_html("examples/fdic_failed_bank_list.html")
print("Length of Table:", len(tables))   #lenght is one because, it's contain only one dataframe
print("Type of Table:", type(tables))
tables  #convert tabular html data into list
#tables variable type is not dataframe but list

Length of Table: 1
Type of Table: <class 'list'>

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [48]:
#each list index will contain one dataframe
failure_df_zero = tables[0]
print(type(failure_df_zero))
failure_df_zero

<class 'pandas.core.frame.DataFrame'>

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [50]:
failure_df_zero.head()   #starting 5 records, latest records

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [51]:
failure_df_zero.shape   #return what kind of shape your tabular data has (rows and columns)

(547, 7)

In [52]:
failure_df_zero.columns   #available columns for any tabular data

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [53]:
 failure_df_zero["City"]   #All the cities name will available by this statement

0             Mulberry
1             Woodbury
2      King of Prussia
3              Memphis
4            Milwaukee
            ...
542           Hinsdale
543              Malta
544         Manchester
545         Metropolis
546           Honolulu
Name: City, Length: 547, dtype: object

In [54]:
failure_df_zero["City"].head()    #starting 5 name of the cities

0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object

In [57]:
#convetring a data of column into datetime, closing(string) date is convetr into datetime(numeric)
#data as series for reviews and analysis
#here we convert a column into a new series of the datatype
bank_datetime = pd.to_datetime(failure_df_zero['Closing Date'])
print(type(bank_datetime))
bank_datetime

<class 'pandas.core.series.Series'>

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

# Binary Data Format

In [ ]:
#the advantage of storing data into binary format is to make size of the file small as compare to original
#smaller size of data will save quick as well as retrieve quick to perform some task on it
#binary data is not portable, you can't move it from one place to another
#binary data can be technology specific and language specific

binary_df = pd.read_csv("examples/ex1.csv")
binary_df.to_pickle("examples\frame_pickle")    #data save into binary form
pd.read_pickle("examples/frame_pickle")

# Using HDF Format

In [64]:
#HDF: hierarchical data format, from file to data science (advanced level)
#we can save and load data hierarchically in pandas, you can filtered data while loading

dic_frame = pd.DataFrame({'A' : np.random.randn(100)})
dic_frame

           A
0   0.124468
1   0.145281
2  -0.049555
3  -0.778894
4  -0.817395
..       ...
95 -1.362738
96  0.319041
97  1.680286
98 -0.802137
99 -2.047675

[100 rows x 1 columns]

In [111]:
dic_store = pd.HDFStore('mydata.h5')
dic_store["obj1"] = dic_frame   #there is no format while storing data in this statement
dic_store["obj1_col"] = dic_frame['A']
dic_store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [106]:
val = dic_store.obj1
val

           A
0   0.124468
1   0.145281
2  -0.049555
3  -0.778894
4  -0.817395
..       ...
95 -1.362738
96  0.319041
97  1.680286
98 -0.802137
99 -2.047675

[100 rows x 1 columns]

In [107]:
print(type(val))
val.head()

<class 'pandas.core.frame.DataFrame'>

          A
0  0.124468
1  0.145281
2 -0.049555
3 -0.778894
4 -0.817395

In [108]:
#we can store tabular data in our database
dic_store.put('obj2', dic_frame, format='table')
dic_store.select('obj2', where=['index>=10 and index<=30'])  #these type of condition isn't allow in csv files
dic_store.close()

In [114]:
dic_frame.to_hdf("mydata.h5", 'obj3', format='table')  #data store in tabular form

In [119]:
frame_read = pd.read_hdf('mydata.h5', 'obj3', where=['index<10'])

ValueError: The file 'mydata.h5' is already opened, but not in read-only mode (as requested).

# Reading Microsoft Excel Data

In [15]:
#there are two ways by which you can access microsoft excel data
# 1) first you convert it into csv file than, access it
# 2) Direct excel file access by methods
#Reading
excel_file = pd.ExcelFile("examples/myData.xlsx")  #data read in 'excel_file' object type file
excel_file = pd.read_excel(excel_file)  #than data is load by 'read_excel' method and save into excel_file
excel_file

   Unnamed: 0   a   b   c   d message
0           0   1   2   3   4   hello
1           1   5   6   7   8   world
2           2   9  10  11  12     foo
3           3  13  14  15  16    yeah

In [12]:
frame = pd.read_excel("examples/myData.xlsx")  #data directly save into frame after load by 'read_excel' method
frame

   Unnamed: 0   a   b   c   d message
0           0   1   2   3   4   hello
1           1   5   6   7   8   world
2           2   9  10  11  12     foo
3           3  13  14  15  16    yeah

In [20]:
#writing
excel_write = pd.ExcelWriter("examples/ex2.xlsx")  #creating new excel file 'ex2.xlsx'
frame.to_excel(excel_write)
excel_write.save()

In [18]:
#alternative option for single sheet
frame.to_excel("examples/ex2.xlsx")  #data save only single time

# Working with web APIs

In [25]:
#now, we access data remotely be a website
#request library will give data to the python program from any website
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
responce = requests.get(url)
print(responce)
responce_data = responce.json()   #data will become dictionary
print(type(responce_data))    #now data is converted into list
print(responce_data)

<Response [200]>
<class 'list'>

In [29]:
#we can acces any particular object from our big data
title_data = responce_data[0]
title_data

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31541',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31541/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31541/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31541/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/31541',
 'id': 558553979,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0MzY5OTA4MDc5',
 'number': 31541,
 'title': "Backport PR #31456 on branch 1.0.x (BUG: Groupby.apply wasn't allowing for functions which return lists)",
 'user': {'login': 'meeseeksmachine',
  'id': 39504233,
  'node_id': 'MDQ6VXNlcjM5NTA0MjMz',
  'avatar_url': 'https://avatars0.githubusercontent.com/u/39504233?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/meeseeksmachine',
  'html_url': 'https://github.com/meeseeksmachine',
  'followers_url': 'https://api.github.com/users/meeseeksmachine/followers',
  'following_url': 'https://api.github.com/users/meeseeksmachine/following{/other_user}',
  'gists_url': 'https://api.github.com/users/meeseeksmachine/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/meeseeksmachine/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/meeseeksmachine/subscriptions',
  'organizations_url': 'https://api.github.com/users/meeseeksmachine/orgs',
  'repos_url': 'https://api.github.com/users/meeseeksmachine/repos',
  'events_url': 'https://api.github.com/users/meeseeksmachine/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/meeseeksmachine/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 233160,
   'node_id': 'MDU6TGFiZWwyMzMxNjA=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
   'name': 'Groupby',
   'color': '729FCF',
   'default': False,
   'description': None},
  {'id': 32815646,
   'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Regression',
   'name': 'Regression',
   'color': 'e11d21',
   'default': False,
   'description': None}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/69',
  'html_url': 'https://github.com/pandas-dev/pandas/milestone/69',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/69/labels',
  'id': 5002193,
  'node_id': 'MDk6TWlsZXN0b25lNTAwMjE5Mw==',
  'number': 69,
  'title': '1.0.1',
  'description': 'on-merge: backport to 1.0.x',
  'creator': {'login': 'jreback',
   'id': 953992,
   'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jreback',
   'html_url': 'https://github.com/jreback',
   'followers_url': 'https://api.github.com/users/jreback/followers',
   'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
   'organizations_url': 'https://api.github.com/users/jreback/orgs',
   'repos_url': 'https://api.github.com/users/jreback/repos',
   'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jreback/received_events',
   'type': 'User',
   'site_admin': False},
  'open_issues': 20,
  'closed_issues': 22,
  'state': 'open',
  'created_at': '2020-01-14T04:04:52Z',
  'updated_at': '2020-02-01T15:15:26Z',
  'due_on': '2020-02-04T08:00:00Z',
  'closed_at': None},
 'comments': 0,
 'created_at': '2020-02-01T15:15:25Z',
 'updated_at': '2020-02-01T15:16:03Z',
 'closed_at': None,
 'author_association': 'NONE',
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/31541',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/31541',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/31541.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/31541.patch'},
 'body': "Backport PR #31456: BUG: Groupby.apply wasn't allowing for functions which return lists"}

In [30]:
title_data['title']   #now the title for this url is printed

"Backport PR #31456 on branch 1.0.x (BUG: Groupby.apply wasn't allowing for functions which return lists)"

In [31]:
#create dataframe from dictionary(json file)
issues_data = pd.DataFrame(responce_data,
                          columns=['number', 'title', 'labels', 'state'])
issues_data.head()  #first five values

,number,title,labels,state
0,31541,Backport PR #31456 on branch 1.0.x (BUG: Group...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
1,31539,WEB: Wrong links on web page,[],open
2,31538,TST: Added regression test,[],open
3,31537,DOC: Mention that boolean indexing is impossib...,[],open
4,31536,TST: Added regression test case,[],open

# Working with Databases

In [33]:
#creating table
query = """ CREATE TABLE test(a VARCHAR(20), 
        b VARCHAR(20),c REAL,
        d INTEGER);  """
con = sqlite3.connect('mydata.sqlite')
#running query
con.execute(query)
#table create
con.commit()

In [34]:
#inserting data, by tuples in list, preparing data
data = [
    ('Karachi', 'Lahore', 2345, 3452),
    ('Multan', 'Sukkhar', 3214, 2341),
    ('Larkana', 'Islamabad', 1231, 1234)
]

#'?' is the execute speciality for database to run query
#'?' will be replaced by the data present in your list
statement = "INSERT INTO test VALUES(?, ?, ?, ?)"   #this is query for database to insert data
con.executemany(statement, data)
con.commit()   #data is inserted

In [36]:
#selecting/extracting data from the database
cursor = con.execute("select * from test")
rows = cursor.fetchall()
print(type(rows))  #data will get in list form
print(rows)

<class 'list'>
[('Karachi', 'Lahore', 2345.0, 3452), ('Multan', 'Sukkhar', 3214.0, 2341), ('Larkana', 'Islamabad', 1231.0, 1234)]

In [40]:
cursor.description   #this database has no description, use this to identify column name

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [39]:
cur_df = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
cur_df    #zeroth element will be the name of the column of the table(database)

         a          b       c     d
0  Karachi     Lahore  2345.0  3452
1   Multan    Sukkhar  3214.0  2341
2  Larkana  Islamabad  1231.0  1234

In [42]:
#by sqlachemy, you can easily access data(faster access)
db = sqla.create_engine('sqlite:///mydata.sqlite')
data_df =pd.read_sql('select * from test', db)
data_df

         a          b       c     d
0  Karachi     Lahore  2345.0  3452
1   Multan    Sukkhar  3214.0  2341
2  Larkana  Islamabad  1231.0  1234